@model WebsiteE_Commerce.Models.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
}

<h2>Đăng ký</h2>

<form asp-controller="Account" asp-action="Register" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="ReturnUrl" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" autocomplete="username" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Tạo tài khoản</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
